<link rel="stylesheet" href="/css/catalogo/catalogo.css" />

<%- include("partials/headerMenu") %>

<h1 class="titulo">CATÁLOGO</h1>

<section class="catalogo">
  <% caes.forEach(caozinho => { %>
  <div class="card-wrapper">
    <div class="card">
      <img src="/uploads/caes/fotos/<%= caozinho.path_fotos %>" />
      <p>
        <%= caozinho.nome %> | <%= caozinho.idade %><br /><%= caozinho.sexo %>
      </p>
    </div>

    <% if (admin) { %>
    <button
      class="btn-editar"
      onclick="location.assign('/registarCao/<%= caozinho.id_cao %>')"
    >
      EDITAR
    </button>
    <% } %>
  </div>
  <% }) %>
</section>

<%- include("partials/footer") %>
