<link rel="stylesheet" type="text/css" href="/libs/slick/slick.css" />
<link rel="stylesheet" type="text/css" href="/libs/slick/slick-theme.css" />
<link rel="stylesheet" href="/css/formulario/formulario.css" />

<%- include("partials/headerMenu") %>

<div class="onda-mockup"></div>

<h1 id="nomeAnimal" class="pet-name"><%= cao.nome %></h1>

<section class="carousel-container">
  <div class="carousel">
    <% cao.fotos.forEach(imagem => { %>
    <div>
      <img src="/uploads/caes/fotos/<%= imagem.path_fotos %>" class="slide" />
    </div>
    <% }) %>
  </div>
</section>

<section class="info-form-wrapper">
  <div class="left-column">
    <section class="info-section">
      <div class="info-box">
        <p>Idade: <%= cao.idade %></p>
        <p>Sexo: <%= cao.sexo %></p>
        <p>Porte: <%= cao.porte %></p>
        <p><%= cao.info_medica %></p>
      </div>

      <div class="info-box description">
        <p><%= cao.info_pessoal %></p>
      </div>
    </section>
  </div>

  <div class="right-column">

    <form id="infoForm" class="form-card" method="POST" action="/enviaEmail">
      <input id="id_cao" name="id_cao" type="hidden" value=<%= cao.id_cao %> />
      <input id="nome_cao" name="nome_cao" type="hidden" value=<%= cao.nome %> />
      <h2>FORMULÁRIO</h2>

      <label>Nome Completo:</label>
      <input id="nome" name="nome" type="text" required />

      <label>Localização:</label>
      <input id="localizacao" name="localizacao" type="text" required />

      <label>Telefone:</label>
      <input id="telefone" name="telefone" type="text" required />

      <label>Email:</label>
      <input id="email" name="email" type="email" required />

      <label>Observações:</label>
      <textarea id="observacoes" name="observacoes" rows="5"></textarea>

      <button type="submit">SUBMETER</button>

    </form>
  </div>
</section>

<div class="onda-fim"></div>
<%- include("partials/footer") %>

<script src="/libs/jquery/jquery-3.7.1.min.js"></script>
<script type="text/javascript" src="/libs/slick/slick.min.js"></script>
<script src="/js/formulario/formulario.js"></script>
